@import url("components/button.css");
@import url("components/typography.css");
@import url("components/menu.css");
@import url("components/hero.css");
@import url("components/avatar.css");
@import url("components/icons.css");
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 220px auto auto 100px;
    grid-template-areas: 
    "header"
    "main"
    "sidebar" 
    "footer";
}

.header{
    grid-area: header;
}

.post{
    grid-area: main;
    padding-top: 20px 0;
}

.sidebar{
    grid-area: sidebar;
    padding: 0 20px 20px 20px;
}

.post-body{
    padding: 16px 20px;
}
.post-meta{
    display: flex;
    border-top: 1px solid var(--secondary-color);
    padding-top: 10px;
    justify-content: space-between;
}

.social-share{
    display: flex;
}

.socials{
    display:flex;
    gap: 12px;
}

.sidebar-inner{
    padding-bottom: 20px;
}

.sidebar-item{
    padding-bottom: 20px;
}

.item-title{
    margin-bottom: 6px;
}

.item-meta{
    display: flex;
    justify-content: space-between;
}

.author-section{
    border-top: 1px solid var(--secondary-color);
}

.author-info{
    display: flex;
}

.width-50{
    width: 50%;
}

.footer{
    grid-area: footer;
    background-color: var(--primary-color);
}

@media (min-width: 900px){
    .container{
        grid-template-rows: 80px 1fr 100px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "header header header header"
        "main main main sidebar"
        "footer footer footer footer";
    }

    .post-body{
        padding: 20px 40px;
    }

    .sidebar{
        padding: 40px 40px 0px 0px;
    }
}