@import url("components/button.css");
@import url("components/typography.css");
@import url("components/menu.css");
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 1fr 1fr 100px;
    grid-template-areas: 
    "header"
    "main"
    "sidebar" 
    "footer";
}

.header{
    grid-area: header;
}

.post{
    grid-area: main;
    padding: 4px 4px;
}

.sidebar{
    grid-area: sidebar;
}

.footer{
    grid-area: footer;
    background-color: var(--primary-color);
}

@media (min-width: 900px){
    .container{
        grid-template-rows: 80px 1fr 1fr 100px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "header header header header"
        "main main main sidebar"
        "footer footer footer footer";
    }

    .post{
        padding: 20px 40px;
        border:1px solid;
    }
}