.avatar{
    display: flex;
    align-items: center;
    gap: 10px;
} 

.avatar-img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    outline: 1px solid var(--primary-color);
}

.avatar-img-medium{
    height: 80px;
    width: 80px;
    outline: 1px solid var(--primary-color);
    border-radius: 50%;
}