@import url("color.css");

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="email"]{
    padding: 12px 10px;
    width: 300px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    outline:2px solid var(--primary-color);
}

input:focus{
    background-color: var(--slate-color);
}

@media (min-width: 900px) {
    form{
        flex-direction: row;
    }
    input[type="email"]{
        width: 600px;
    }
}