nav{
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--secondary-color);
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 0;
    padding:0;
    text-align: center;
}


.active, .menu-item:hover{
    text-decoration: underline wavy var(--accent-color);
}

@media (min-width: 900px) {
    nav{
        padding: 0 40px;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu{
        flex-direction: row;
        gap: 25px;
    }

}